/********************** reset default browser style **********************/
/* Reset unneeded margins and paddings */
html, body, form, fieldset { margin: 0; padding: 0; }
/* Vertical margins */ 
h1, h2, h3, h4, h5, h6, p { margin: 1em 0 0 0; padding: 0; }    /* top */
ul, ol, dl { margin: 0 0 1em; padding: 0; }                     /* bottom */
pre, blockquote, address { margin: 1em 0; padding: 0; }         /* top & bottom */  
li { margin: 0; padding: 0; }									/* none */
/* Left margin */
li, dd, blockquote { margin-left: 1em; }
/* Page colors (background and text) */
body { background: white; color: black; }
/* Page main font */
h1, h2, h3, h4, h5, h6, p, li, dd, dt, th, td, input, textarea, select, label { font: 12px Verdana, Helvetica, Arial, sans-serif; }
h1 { font-size: 16px; font-weight: bold; }
h2 { font-size: 14px; font-weight: bold; }
h3 { font-size: 12px; font-weight: bold; }
/* Links: underlined only when hovered */
a { text-decoration: none; }
a:hover { text-decoration: underline; }
/* Images without borders when used as links */
a img { border: 0; }
/* Labels have 'hand' as mouse pointer */
label { cursor: pointer; }
/********************** /reset default browser style *********************/
#container { margin: 10px auto; width: 981px; }
#header { background: #dfe5df url('../images/bgHeader.png') repeat-x; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; }
	a#logo { display: block; float: left; margin: 7px 0; padding-left: 35px; width: 157px; height: 99px; background: url('../images/logo.gif') top right no-repeat; }
	#banner { float: left; width: 760px; height: 120px; }
		#banner	#leaderboard { float: right; margin-top: 13px; width: 728px; height: 90px; }
		#banner	a#adExplanation { display: block; float: right; color: #3f7137; font: 9px/12px Verdana, Tahoma, Helvetica, sans-serif; }
		#banner	a#adExplanation:hover { color: #8d8d1c; }
	#topmenu { margin: auto; padding: 0 10px; width: 932px; background: url('../images/menu.gif') no-repeat; }
	#topmenu ul { float: left; list-style-type: none; margin: 0; height: 35px; width: 720px; }
	#topmenu ul li { float: left; margin: 0; }
	#topmenu ul li a { display: block; float: left; /*IE6 Hack*/ height: 17px; padding: 9px 15px; font: 700 14px Arial, Verdana, Tahoma, sans-serif; color: white; text-align: center; text-decoration: none; }
	#topmenu ul li a:hover { background: #3e9c49; text-decoration: none;  }
	#topmenu ul li.item23,
	#topmenu ul li.item24 { background: url('../images/newstar1.gif') top right no-repeat; } 
	#topmenu form { float: left; padding: 0; }
	#topmenu form div.search { padding: 5px 0;  }
	#topmenu form div.search input#mod_search_searchword { }	
	#topmenu form div.search input.button { margin-left: 5px; cursor: pointer; }
#body { background: #dfe5df url('../images/content.png') repeat-y; padding: 20px 15px; }
	#body a { color: #3f7137; }
	#body a:hover { color: #8d8d1c; }
	#body a.contentpagetitle { color: white; }
	#body a.contentpagetitle:hover { color: white; }
	#leftmenu { float: left; margin-right: 10px; width: 158px; }
	#leftmenu div.moduletable,
	#leftmenu div.moduletable_menu { margin-bottom: 20px; padding-bottom: 10px; background: white url('../images/bgLeftMenuBot.png') bottom left no-repeat; }
	#leftmenu thead tr td { padding: 5px 8px; }
	#leftmenu h3 { padding: 5px 15px; margin: 0; height: 16px; background: #719531 url('../images/bgLeftMenuTop.png') no-repeat; font-size: 14px; color: white; }
	#leftmenu ul { margin: 0 9px 0 0; padding: 10px 0; background: white url('../images/bgLeftMenuBody.png') repeat-y; list-style-type: none; }
	#leftmenu ul li a { display: block; color: black; font: 11px/16px Arial, Verdana, Helvetica, sans-serif; outline: none; }
	#leftmenu ul li a:hover { background: #9BD075; text-decoration: none; color: black; }
	#main { float: left; width: 778px; }
	/* The article header (white text on green background) */
	#main table.contentpaneopen td.contentheading,
	div.componentheading { margin: 0; width: 753px; padding: 4px 0 4px 25px; height: 18px; background: #719531 url('../images/bgMainTop.png') no-repeat; font: bold 14px Verdana, Helvetica, Arial, sans-serif; color: white; }
	#main table.contentpaneopen td.contentheading { padding-bottom: 3px; }
	/* The visitors counter */
	#leftmenu #vvisit_counter div { margin: 5px 0; }
	#leftmenu #vvisit_counter div a { display: none; }
	#leftmenu #vvisit_counter div table tbody tr td { font-size: 11px; }	
	/* Article body */
	#main table.contentpaneopen { border-collapse: collapse; }
	#main table.contentpaneopen td { padding: 10px 25px; } 
	#main table.contentpaneopen td table td { width: auto; padding: 0; } /* correct a stupid inheretence problem */
	#main table.contentpaneopen td table table { border-collapse: collapse; border: 1px solid black; } /* Table defined by the user in the editor! */
	#main table.contentpaneopen td table table td { border: 1px solid black; padding: 2px 3px; } 
	#main table.contentpaneopen td table table td strong { display: block; width: 100%; height: 100%; padding: 2px 3px; background: #c0c0c0; }
	#main table.contentpaneopen td table table th { border: 1px solid black; padding: 2px 3px; background: #c0c0c0; } 
	#main table.bordered  { border: 1px solid black; }
	#main table.bordered td { border: 1px solid black; }
	/* Category listing body */
	table.contentpane {  border-collapse: collapse; margin: 10px 25px 0; width: 730px; height: 300px; }
	table.contentpane table { display: none; }
	/* Poll body */
	div.contentpane { padding: 10px 25px 0; }
	#main div.content { background: white url('../images/bgMainBody.png') repeat-y; }
	#main dov.content table { margin: 0; }
	#main dov.content table tr td p a {  color: #3f7137; }
	.sectiontableentry1,
	.sectiontableentry2 { text-align: left; }
	/* Training Predictor Tool */
	#trainingPredictor div#comment { padding: 0 10px 10px; margin-bottom: 10px; border: 1px solid #cccccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	#trainingPredictor div#inputs { float: left; border: 1px solid #cccccc; padding: 5px; width: 330px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }	
	#trainingPredictor div#results { float: left; display: inline; border: 1px solid #cccccc; padding: 5px; margin-left: 20px; width: 350px; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }
	#trainingPredictor div#results table { border: 1px solid black; margin: auto; border-collapse: collapse; }
	#trainingPredictor div#results table th { border: 1px solid black; background: #c0c0c0; padding: 5px; }
	#trainingPredictor div#results table td { border: 1px solid #c0c0c0; padding: 2px 5px; }
	/* Posession calculator tool */
	#possession { padding: 20px; border: 1px solid #cccccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	#possession #comments { padding: 0 10px 10px; margin: 0 20px 10px; border: 1px solid #cccccc; width: 420px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	#possession #inputs table { float: left; display: inline; border: 1px solid #cccccc; padding: 5px; margin: 0 20px; width: 200px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	#possession #inputs table th#team1 { background: #3f9b60; color: #ffff27; }
	#possession #inputs table th#team2 { background: #ffff27; color: #3f9b60; }
	#possession #inputs #btnSubmit { display: block; clear: left; padding-top: 20px; margin-left: 195px; }
	#possession #results { clear: left; padding: 15px 0 0 2px; height: 50px; }
	#possession #results #possession1 { float: left; padding: 0 5px; font-weight: bold; }
	#possession #results #graphBg { float: left; border: 1px solid black; width: 400px; height: 30px; background: #ffff27; }
	#possession #results #graphBg #graphPossession1 { background: #3f9b60; height: 30px; /* dynamic width in line with PHP */ }
	#possession #results #possession2 { float: left; padding: 0 5px; font-weight: bold; }
	/* Healing tool */
	#healing { width: 700px; height: 255px; }
	#healing #inputs { float: left; padding: 10px; width: 360px; border: 1px solid #cccccc; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }
	#healing #inputs table { margin: auto; border-collapse: collapse; }
	#healing #inputs table th { padding: 5px; background: #dbdbdb; }
	#healing #inputs table td { padding: 3px 10px; border: 1px dashed #dbdbdb;  }
	#healing #inputs #btnSubmit { display: block; padding-top: 5px; margin-left: 130px; }
	#healing #inputs #results p { text-align: center; }
	#healing #comments { float: left; display: inline; padding: 10px; margin-left: 20px; width: 120px; border: 1px solid #cccccc; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }
	#healing #comments table { margin: auto; border-collapse: collapse; }
	#healing #comments table th { padding: 5px; background: #dbdbdb; }
	#healing #comments table td { padding: 3px; border: 1px dashed #dbdbdb;  }
	/* Tools general CSS */
	#tool div.comment { padding: 0 10px 10px; margin-bottom: 10px; border: 1px solid #cccccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	#tool #inputs table { border: 1px solid #cccccc; padding: 5px; margin: 10px 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	#tool #results table { border: 1px solid black; border-collapse: collapse; }
	#tool #results table th { border: 1px solid black; background: #c0c0c0; padding: 5px; }
	#tool #results table td { border: 1px solid #c0c0c0; padding: 2px 5px; }
	/* rewrite Jcomments CSS rules */
	#jc { margin: 0 25px; }
	#jc div.comments-list { margin: 0; }
	#jc div.comment-box a.comment-anchor { font: 12px Verdana, Helvetica, Arial, sans-serif; }
	#jc div.comment-box span,
	#jc div.comment-box div.comment-body { font: 12px Verdana, Helvetica, Arial, sans-serif; }
	#jc div.comment-box span.comment-author { font-weight: bold; }
	#jc a.refresh { display: none; }
	#jc #comments-form { margin: 0; padding: 0;  }
	#jc #comments-form p, #comments-form #comments-form-buttons, #comments-form #comments-form-error { margin-left: 0px; }
	#jc #comments-footer a { display: none; }
	
	#main .end { padding: 0; height: 8px; font-size: 1px; /*IE6 Hack*/ background: white url('../images/bgMainBot.png') no-repeat; }
	p#author { clear: both; padding: 10px 25px 0 0; background: url('../images/nerd.png') bottom right no-repeat; text-align: right; line-height: 16px; }
	
#footer { padding-top: 26px;  background: url('../images/footer.png') no-repeat; }
#footer #footerScripts { margin: 0 auto; width: 200px; }
#footer p { float: left; margin: 0 5px; }

body { background: #8bae4a url('../images/bg2.jpg'); }
div.clear { clear: both; font-size: 1px; }
.red { color: red; }
